<p></p>
<div class="container">
  <div class="row">
    <h2 class="col-md-4">マイページ</h2>
    <div class="col-md-8"></div>
  </div>
</div>

<div class="customer">
  <div class="customer-title">
    <h3>登録情報</h3>
    <div class="button"><%= button_to "編集する", edit_public_customers_path, method: :get, class: "button-green" %></div>
  </div>
  <table class="customer-list">
    <tbody>
      <tr>
        <td class="customer-list-title">氏名</td>
        <td class="customer-list-text"><%= @customer.first_name %><%= @customer.last_name %></td>
      </tr>
      <tr>
        <td class="customer-list-title">カナ</td>
        <td class="customer-list-text"><%= @customer.first_name_kana %><%= @customer.last_name_kana %></td>
      </tr>
      <tr>
        <td class="customer-list-title">郵便番号</td>
        <td class="customer-list-text"><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td class="customer-list-title">住所</td>
        <td class="customer-list-text"><%= @customer.address %></td>
      </tr>
      <tr>
        <td class="customer-list-title">電話番号</td>
        <td class="customer-list-text"><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <td class="customer-list-title">メールアドレス</td>
        <td class="customer-list-text"><%= @customer.email %></td>
      </tr>
    </tbody>
  </table>

  <div class="customer-title">
    <h3>配送先</h3>
    <div class="button"><%= button_to "一覧を見る", public_addresses_path, method: :get, class: "button-blue" %></div>
  </div>
  <div class="customer-title">
    <h3>注文履歴</h3>
    <div class="button"><%= button_to "一覧を見る",  public_orders_path, method: :get, class: "button-blue" %></div>
  </div>
</div>
