<h1>商品新規登録</h1>
<%= form_with model:@item, url: admin_items_path, local:true do |f| %>
  <div class="field">
    <%= f.label :image, "商品画像" %>
  　<%= f.attachment_field :image %>
  </div>
  <div class="field">
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name, placeholder: "商品名" %>
  </div>
  <div class="field">
    <%= f.label :introduction, "商品説明" %>
    <%= f.text_area :introduction, placeholder: "ここに説明文を記述します" %>
  </div>
  <div class="field">
    <%= f.label :genre, "ジャンル" %>
    <%= f.select :genre, @genres.map{ |genre| [genre.name, genre.id]}, {include_blank: '--選択してください--'} %>
  </div>
  <div class="field">
    <%= f.label :price, "税込価格" %>
    <%= f.text_field :price, placeholder: "0" %>円
  </div>
  <div class="field">
    <%= f.label :is_active, "販売ステータス" %>
    <%= f.radio_button :is_active, :販売中 %>
    <%= f.label :販売中 %>
    <%= f.radio_button :is_active, :販売停止中 %>
    <%= f.label :販売停止中 %>
  </div>
  <%= f.submit '新規登録' %>
<% end %>
