<h2>商品詳細</h2>
<%= attachment_image_tag @item, :image_id %>
<p>商品名</p>
<%= @item.name %>
<p>商品説明</p>
<%= @item.introduction %>
<p>ジャンル</p>
<%= @item.genre %>
<p>税込価格</p>
<%= @item.price %>円
<p>販売ステータス</p>
<%= @item.is_active %>
