<p></p>
<div class="container">
  <div class="row">
    <h2 class="col-md-4">会員一覧</h2>
    <div class="col-md-8"></div>
  </div>
</div>

<div align="center">
  <table>
    <thead>
      <tr>
        <th width="100">会員ID</th>
        <th width="200"><%= link_to "氏名" %></th>
        <th width="200">メールアドレス</th>
        <th width="100">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td>
            <%= link_to admin_customer_path(customer.id) do %>
              <%= customer.first_name %><%= customer.last_name %>
            <% end %>
          </td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_deleted %>
              有効
            <% else %>
              無効
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @customers %>
</div>
