<h2>会員一覧</h2>
<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @customers.each do |customer| %>
        <td><%= customers.id %></td>
        <td><%= customers.name %></td>
        <td><%= customers.email %></td>
        <td><%= customers.is_deleted %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<%= paginate @customers %>