
<% @cuetomer.each do |customer| %>
  <h2><%= customer.first_name %><% customer.last_name %>さんの会員詳細</h2>
  <p>会員ID</p>
  <%= customer.id %>
  <p>氏名</p>
  <%= customer.first_name%><% customer.last_name %>
  <p>フリガナ</p>
  <%= customer.first_name_kana %><% cuetomer.last_name_kana %>
  <p>郵便番号</p>
  <%= customer.postal_code %>
  <p>住所</p>
  <%= customer.address %>
  <p>電話番号</p>
  <%= customer.telephone_number %>
  <p>メールアドレス</p>
  <%= customer.email %>
  <p>会員ステータス</p>
  <%= customer.is_deleted %>
<% end %>
