<p></p>
<div class="container">
  <div class="row">
    <h2 class="col-4">注文履歴詳細</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-9">
      <table>
        <tbody>
          <tr>
            <td>購入者</td>
            <td><%= @order.name %></td>
          </tr>
          <tr>
            <td>注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td>配送先</td>
            <td><%= @order.address %></td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td>
              <% if @order.payment_method %>
                クレジットカード
              <% else %>
                銀行振込
              <% end %>
            </td>
          </tr>
          <!--<tr>
            <td>注文ステータス</td>
            <%#= form_with model:@order, url: admin_order_path(@order.id), local:true do |f| %>
              <td><%#= f.select :status, order.status.keys.to_a, {} %></td>
              <td><%#= f.submit "更新" %></td>
            <%# end %>
          </tr>-->

        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-9">
      <table>
        <thead>
          <tr>
            <th class="order-title">商品名</th>
            <th class="order-title">単価（税込）</th>
            <th class="order-title">数量</th>
            <th class="order-title">小計</th>
            <!--<th colspan="2">製作ステータス</th>-->
          </tr>
        </thead>
        <tbody>
          <% @sum = 0 %>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.item.name %></td>
              <td><%= order.price %></td>
              <td><%= order.amount %></td>
              <td><%= order.subtotal %></td>
              <td><%#= f.select :making_status, @order_details.map{ |order_detail| [order_detail.name, order_detail.id]}, {include_blank: '--選択してください--'} %></td>
              <td><%#= link_to "更新" %></td>
            </tr>
          <% @sum += order.subtotal %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-3">
      <table>
        <tbody>
          <tr>
            <td>商品合計</td>
            <td><%= @sum %>円</td>
          </tr>
          <tr>
            <td>送料</td>
            <td><%= @order.shipping_cost %>円</td>
          </tr>
          <tr>
            <td>請求金額合計</td>
            <td><%= @order.total_payment %>円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

