<p></p>
<div class="container">
  <div class="row">
    <h2 class="col-md-4">ジャンル一覧・追加</h2>
    <div class="col-md-8">
      <%= form_with model:@genre_new, url: admin_genres_path, local:true do |f| %>
        <p class="genre-name">ジャンル名</p>
        <%= f.text_field :name %>
        <%= f.submit "新規登録", class: "new" %>
      <% end %>

      <table class="genres">
        <thead>
         <tr>
           <th colspan="2", class="genre">ジャンル</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr class="genre-name-list">
              <td>
                <%= genre.name %>
              </td>
              <td>
                <%= button_to "編集する", edit_admin_genre_path(genre), method: :get, class: "edit" %>
              </td>
            </tr>
          <% end %>
       </tbody>
      </table>
    </div>
  </div>
</div>



