<h2>ログイン</h2>

<h4>会員の方はこちらから</h4>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>メールアドレス</td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <td>パスワード</td>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "ログイン" %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<h4>会員登録がお済みでない方</h4>

<%= link_to "こちら", new_customer_registration_path %>　から新規登録を行ってください。
