<p></p>
<div class="container">
  <div class="row">
    <h2 class="col-md-4">注文情報入力</h2>
    <div class="col-md-8"></div>
  </div>
</div>


<%= form_with model:@order, url: public_orders_path, local:true do |f| %>
  <h3>支払方法</h3>
  <div><%= f.radio_button :payment_method, 0 %>クレジットカード</div>
  <div><%= f.radio_button :payment_method, 1 %>銀行振込</div>

  <h3>お届け先</h3>
  <div>
    <%= f.radio_button :address, 0 %>ご自身の住所
    <div><%= @customer.postal_code %><%= @customer.address %></div>
    <div><%= @customer.first_name %><%= @customer.last_name %></div>
  </div>
  <div>
    <%= f.radio_button :address, 1 %>登録済み住所から選択
    <%= form_with model: @adderess, url: public_addresses_path, local: true do |f| %>
      <td><%= f.select :address, @address.map{ |genre| [address.name, address.id]}, {include_blank: '--選択してください--'} %></td>
    <% end %>
  </div>
  <div>
    <%= f.radio_button :address, 2 %>新しいお届け先
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td><%= f.text_field :postal_code, placeholder: "0000000" %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td><%= f.text_field :name, placeholder: "令和道子" %></td>
        </tr>
      </tbody>
    </table>
    <div><%= f.submit "確認画面へ進む" %></div>
  </div>
<% end %>
