<p></p>
<div class="container">
  <div class="row">
    <h2 class="col-md-4">注文情報入力</h2>
    <div class="col-md-8"></div>
  </div>
</div>

<div>
  <%= form_with model:@order, url: public_orders_confirm_path, method: :post, local:true do |f| %>
    <h3 class="order-method">支払方法</h3>
    <div class="order-radio_button">
      <div><%= f.radio_button :payment_method, :クレジットカード %>クレジットカード</div>
      <div><%= f.radio_button :payment_method, :銀行振込 %>銀行振込</div>
    </div>
    <h3 class="order-address">お届け先</h3>
    <div class="order-radio_button">
      <div>
        <%= f.radio_button :address_number, "0" %>ご自身の住所
        <div>〒<%= @customer.postal_code %><%= @customer.address %></div>
        <div><%= @customer.first_name %><%= @customer.last_name %></div>
      </div>
      <div>
        <%= f.radio_button :address_number, "1" %>登録済み住所から選択
        <div>
          <%= f.select :address_id, @address.map{ |address| [address.postal_code + address.address + address.name, address.id]} %>
          <%#= f.collection_select :address_id, current_customer.addresses.all, :id, :address %>
        </div>
      </div>
      <div>
        <%= f.radio_button :address_number, "2" %>新しいお届け先
        <table>
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>郵便番号(ハイフンなし)</td>
              <td><%= f.text_field :postal_code, placeholder: "0000000" %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", :size => "70" %></td>
            </tr>
            <tr>
              <td>宛名</td>
              <td><%= f.text_field :name, placeholder: "令和道子" %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="information"><%= f.submit "確認画面へ進む", class: "button-blue" %></div>
  <% end %>
</div>
